# MongoDB Atlas Data API endpoint
MONGODB_DATA_API_URL=https://<region>.aws.data.mongodb-api.com/app/<seu-app-id>/endpoint/data/v1

# Use UMA forma de autenticação:
# 1) Recomendado: API key da Data API
MONGODB_DATA_API_KEY=<sua-chave-da-data-api>
# 2) Opcional: token Bearer do App Services/Auth
# MONGODB_DATA_API_BEARER_TOKEN=<seu-bearer-token>

MONGODB_DATABASE=consumidor360
MONGODB_USERS_COLLECTION=users
MONGODB_DATA_SOURCE=Cluster0
