# MongoDB Atlas Data API endpoint
MONGODB_DATA_API_URL=mongodb+srv://hpereir4_db_user:<db_password>@consumidor360.83hhm1q.mongodb.net/?appName=consumidor360

# Use UMA forma de autenticação:
# 1) Recomendado: API key da Data API
MONGODB_DATA_API_KEY=al-h97_7NSJO_3NYwWk3ALVxrjw91G0P5Occ_Woy2OrU4I

MONGODB_DATABASE=consumidor360
MONGODB_USERS_COLLECTION=users
MONGODB_DATA_SOURCE=consumidor360
