# MongoDB Atlas connection string (Node.js driver)
# Exemplo:
# mongodb+srv://hpereir4_db_user:<db_password>@consumidor360.83hhm1q.mongodb.net/?appName=consumidor360
MONGODB_URI=mongodb+srv://<db_user>:<db_password>@<cluster-url>/?appName=<app-name>

MONGODB_DATABASE=consumidor360
MONGODB_USERS_COLLECTION=users
