@import "tailwindcss";

/* Mantenha as variáveis se quiser usar as fontes, mas remova 
   as cores de background do :root e do dark mode */
:root {
  --foreground: #171717;
}

@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* Delete o bloco @media (prefers-color-scheme: dark) daqui */

html, body {
  margin: 0;
  padding: 0;
}